	<div>
		<h1>Embrace</h1>
		<ul>
		 	<a href="/employees/reviews">Выбрать работника</a>
			  <p><b>Неправильный код:</b><br>
                    <input type="text" size="40" value="Ваш код">
             </p>
		 	 <p><input type="submit" value="Начать работу"></p>
			    <p><b>Правильный код:</b><br>
                    <input type="text" size="40" value="Наш код">
             </p>
		</ul>
	</div>
    {{> footer}}

